.about {
    color: aliceblue;
    width: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 7%;
    opacity: 77%;
    position: absolute;
}
.aboutheading {
    margin-left: 197%;
    margin-top: -90%;
    width: 490%;
    margin-bottom: 9%;
}