.home-page {
  background-color: black;
  height: calc(100vh - 60px); /* Adjusted height to accommodate the navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.body{
  background-color: #000;
}

.mr-bean-svg {
  position: absolute;
  width: 77rem; 
  margin-bottom: 20rem;
  margin-top: 17rem;
}

.social-media-icon-pack{
  margin-top: 40%;
  width: 50rem;
  margin-left: -20px;
}

