.home-page {
  background-color: transparent;
  height: calc(100vh - 60px); /* Adjusted height to accommodate the navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.mr-bean-svg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  z-index: -1;
}

.social-media-icon-pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; /* Ensure social media icons are in front */
  position: relative; /* Ensure the z-index works */
  top: 42%;
}

/* .social-media-icon-pack a {
  margin: 0.5rem 0; 
} */

/* .socialmedia {
  width: 100%;
  height: auto;
} */

/* Hide responsive icons by default */
/* .responsive-socialmedia {
  display: none;
} */

/* Media queries for responsiveness */

.about {
  color: aliceblue;
  width: 80%; /* Adjusted for better responsiveness */
  max-width: 400px; /* Optional: set a max-width */
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 10%;
  opacity: 77%;
  position: absolute;
  z-index: 5; /* Ensure it stays behind social media icons */
}

/* Default styles for aboutheading */
.aboutheading {
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%;
  width: 100%;
  text-align: center; /* Center text */
  margin-bottom: 9%;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .about {
    width: 70%;
    margin-left: 8%;
  }
  
  .aboutheading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .socialmedia{
    top: -165%;
    position: relative;
    width: 70%;
  }
}

@media (max-width: 992px) {
  .about {
    width: 60%;
    margin-left: 6%;
  }
  
  .aboutheading {
    width: 80%;
  }
  .socialmedia{
    top: -165%;
    position: relative;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .about {
    width: 50%;
    margin-left: 5%;
  }
  
  .aboutheading {
    width: 70%;
  }
  .socialmedia{
    top: -165%;
    position: relative;
    width: 70%;
  }
}

@media (max-width: 576px) {
  .about {
    width: 100%;
    margin-left: 10%;
    margin-top: 15%;
  }
  
  .aboutheading {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
  }
  
  .mr-bean-svg{
    width: 150rem;
    max-width: 140%;
    left: 52%;
  }
  .home-page{
  margin-top: -29%;  }

  .socialmedia{
    top: -165%;
    position: relative;
    width: 70%;
  }
  
}
